<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper pg-red">
        <a href="/" class="brand-logo"><strong>PGCTF</strong>18/about</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <h1 class="pg-gold"><strong>about</strong>/the_team</h1>
    <hr>
    <h3 class="pg-gold">the_team/students</h3>
    <div class="row">
      <div class="col s12 m4">
        <div class="card pg-red">
          <div class="card-image">
            <img src="images/profiles/charles.jpg" class="card-img">
            <span class="card-title"><strong>Charles</strong> Truluck</span>
          </div>
          <div class="card-content white-text">
            <p>Charles Truluck is a sophmore, and has been programming for around 5 years. He has won Apple's WWDC Scholarship 2 years in a row.</p>
          </div>
          <div class="card-action">
            <a class="btn twitter" href="https://twitter.com/charlestruluck_" target="_blank">twitter</a>
            <a class="btn github" href="https://github.com/charlestruluck" target="_blank">github</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card pg-red">
          <div class="card-image">
            <img src="images/profiles/tillson.jpg" class="card-img">
            <span class="card-title"><strong>Tillson</strong> Galloway</span>
          </div>
          <div class="card-content white-text">
            <p>Tillson Galloway is a senior. He works on software engineering for various companies including Silicon Valley-based startups.</p>
          </div>
          <div class="card-action">
            <a class="btn twitter" href="https://twitter.com/tillson_" target="_blank">twitter</a>
            <a class="btn github" href="https://github.com/tillson" target="_blank">github</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card pg-red">
          <div class="card-image">
            <img src="images/profiles/cameron.jpg" class="card-img">
            <span class="card-title"><strong>Cameron</strong> Hay</span>
          </div>
          <div class="card-content white-text">
            <p>Cameron Hay is a current senior, and has been studying computer sciences for 6 years. His hobbies include cyber-security, film making, and gaming.</p>
          </div>
          <div class="card-action">
            <a class="btn twitter" href="https://twitter.com/charlestruluck_" target="_blank">twitter</a>
            <a class="btn github" href="https://github.com/charlestruluck" target="_blank">github</a>
          </div>
        </div>
      </div>
    </div>
    <h3 class="pg-gold">the_team/school_administration</h3>
    <div class="row">
      <div class="col s12 m6">
        <div class="card pg-red">
          <div class="card-content white-text">
            <span class="card-title">D. <strong>Bergman</strong></span>
            <p>Computer Science Department Chair, Full-time CS instructor, and Microsoft Innovative Educator</p>
          </div>
          <div class="card-action">
            <a href="mailto:dbergman@portergaud.edu">Contact</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card pg-red">
          <div class="card-content white-text">
            <span class="card-title">B. <strong>Luce</strong></span>
            <p>Runs the Porter-Gaud Helpdesk, a backbone supporting technological innovation in education at Porter-Gaud School.</p>
          </div>
          <div class="card-action">
            <a href="mailto:bluce@portergaud.edu">Contact</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card pg-red">
          <div class="card-content white-text">
            <span class="card-title">P. <strong>Zaubi</strong></span>
            <p>Director of Technology at Porter-Gaud School and Computer Science instructor specializing in Swift and Cyber Security.</p>
          </div>
          <div class="card-action">
            <a href="mailto:pzaubi@portergaud.edu">Contact</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card pg-red">
          <div class="card-content white-text">
            <span class="card-title">J. <strong>Sessions</strong></span>
            <p>Technology and Innovation Specialist and coordinator of the technology curriculum across the school divisions.</p>
          </div>
          <div class="card-action">
            <a href="mailto:jsessions@portergaud.edu">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
