<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="home">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper pg-red">
        <a href="/" class="brand-logo"><strong>PGCTF</strong>18/home</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <img src="images/copaporterfinal.png" class="logo">
  <div class="container container-home">
    <h1 class="pg-gold"><strong class="bash">bash-3.2$</strong> cat welcome_pgctf18</h1>
    <hr>
    <p class="json">
    {<br>
      &emsp;"name": "pgctf-18",<br>
      &emsp;"version": "2.0",<br>
      &emsp;"description": "Second annual Porter-Gaud hacking competition",<br>
      &emsp;"date": "27 January 2018",<br>
      &emsp;"location": "300 Albemarle Rd, new high school, 3rd floor, room 300"<br>
    }
  </p>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
