<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--
    Oh, it's nice seeing you here.
    The flag is: flag{y0u_g0t_it}
  -->
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper pg-red">
        <a href="/" class="brand-logo"><strong>PGCTF</strong>18/practice</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <h1 class="pg-gold"><strong>practice</strong>/sample_problems</h1>
    <hr>
    <h3 class="pg-gold">practice/cryptography</h3>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header pg-red white-text">crypto/15 March, 44 BC</div>
        <div class="collapsible-body"><span>synt{gur_vqrf_bs_znepu}
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Hint</div>
              <div class="collapsible-body"><span>What happened on that date? Google for ciphers that involve that.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Answer</div>
              <div class="collapsible-body"><span>flag{the_ides_of_march}</span></div>
            </li>
          </ul>
        </span></div>
      </li>
      <li>
        <div class="collapsible-header pg-red white-text">crypto/All your base are belong to us!</div>
        <div class="collapsible-body"><span>ZmxhZ3tiYXNlNjRfZW5jb2RpbmdfaXNfbm90X3NlY3VyZX0=
        <ul class="collapsible" data-collapsible="accordion">
           <li>
             <div class="collapsible-header">Hint</div>
             <div class="collapsible-body"><span>Binary is base 2, Hexadecimal is base 16, what base is this?</span></div>
           </li>
           <li>
             <div class="collapsible-header">Answer</div>
             <div class="collapsible-body"><span>flag{base64_encoding_is_not_secure}</span></div>
           </li>
         </ul>
       </span></div>
      </li>
    </ul>
    <h3 class="pg-gold">practice/web</h3>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header pg-red white-text">web/$(this)</div>
        <div class="collapsible-body"><span>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Hint</div>
              <div class="collapsible-body"><span>The flag is on this webpage... How can you see the source of the page?</span></div>
            </li>
            <li>
              <div class="collapsible-header">Answer</div>
              <div class="collapsible-body"><span>Flag: flag{y0u_g0t_it}</span></div>
            </li>
          </ul>
        </span></div>
      </li>
    </ul>
    <h3 class="pg-gold">practice/image</h3>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header pg-red white-text">image/???</div>
        <div class="collapsible-body"><span>Be ready to disect a virtual machine... but it won't be as hard as last year- we promise.</span></div>
      </li>
    </ul>
    <h1 class="pg-gold"><strong>practice</strong>/helpful_resources</h1>
    <hr>
    <div class="row">
      <div class="col s12 m4">
        <div class="card pg-red">
          <div class="card-content white-text">
            <span class="card-title"><strong>PicoCTF</strong> Competition</span>
            <p>PicoCTF is one of the first CTFs. Their competitoins brought new problems no one's ever seen before, creating a really good resource for students to study from and prepare for our upcoming competition.</p>
          </div>
          <div class="card-action">
            <a href="https://picoctf.com/" target="_blank">PicoCTF.com</a>
            <a href="https://github.com/LFlare/picoctf_2017_writeup" target="_blank">writeup</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card pg-red">
          <div class="card-content white-text">
            <span class="card-title"><strong>EasyCTF</strong> Competition</span>
            <p>EasyCTF is a great place for people who have never tried out a CTF before. The problems range from very easy to very hard. This competition was aimed at high-school students. <strong>the actual competition has been take down but definately take a look at the writeup.</strong></p>
          </div>
          <div class="card-action">
            <a href="https://writeups.easyctf.com/" target="_blank">Writeup</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card pg-red">
          <div class="card-content white-text">
            <span class="card-title"><strong>HSCTF</strong> High School CTF</span>
            <p>HSCTF is also a great resource to practice and study. Similar to EasyCTF, the game has been taken down but it's definately worth a look at the writeups.</p>
          </div>
          <div class="card-action">
            <a href="https://jakobdegen.gitbooks.io/hsctf-4-writeups/content/" target="_blank">writeup</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card pg-red">
          <div class="card-content white-text">
            <span class="card-title">Trail of Bits <strong>CTF Field Guide</strong></span>
            <p>The Trail of Bits CTF Field Guide is a great ersource during a CTF. Take a look.</p>
          </div>
          <div class="card-action">
            <a href="http://trailofbits.github.io/ctf/" target="_blank">open</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card pg-red">
          <div class="card-content white-text">
            <span class="card-title">OWASP Top Ten <strong>list of vulnerabilities</strong></span>
            <p>Similar to the Trail of Bits CTF Field Guide, the OWASP Top Ten is a great resource during a CTF.</p>
          </div>
          <div class="card-action">
            <a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project" target="_blank">open</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
